<?php

namespace Drupal\{{ module }}\Plugin\RaDataType;

use Drupal\ra\RaDatatypeBase;

/**
 * {{ description }}.
 *
 * @RaDataType(
 *   id = "{{ id }}",
 *   label = @Translation("{{ label }}"),
 *   description = @Translation("{{ description }}")
 * )
 */
class {{ class }} extends RaDatatypeBase {

  /**
   * {@inheritdoc}
   */
  public function check(&$value, $definition) {
    // TODO: Implement check() method.
  }

}
