<?php

namespace Drupal\{{ module }}\Plugin\RaFormat;

use Drupal\ra\RaFormatBase;

/**
 * {{ description }}.
 *
 * @RaFormat(
 *   id = "{{ id }}",
 *   label = @Translation("{{ label }}"),
 *   description = @Translation("{{ description }}"),
 *   mime_type = "{{ mime_type }}"
 * )
 */
class {{ class }} extends RaFormatBase {

  /**
   * {@inheritdoc}
   */
  public function convert($object) {
    // TODO: Implement convert() method.
  }

}
