<?php

namespace Drupal\{{ module }}\Plugin\RaDefinition;

use Drupal\ra\RaDefinitionBase;

/**
 * {{ description }}.
 *
 * @RaDefinition(
 *   id = "{{ id }}",
 *   description = @Translation("{{ description }}")
 * )
 *
 * @link https://github.com/emerap/ra/wiki/Definition @endlink
 */
class {{ class }} extends RaDefinitionBase {

  /**
   * {@inheritdoc}
   */
  public function execute($params) {
    // TODO: Implement execute() method.
  }

}
