<div class="ra-docs-section">

    {% if label %}
    <h2 class="ra-docs-section__title">
        {{ label }}
    </h2>
    {% endif %}

    {% for item in items %}
    <div class="ra-docs-section__wrapper">

        <div class="ra-docs-section__item-title">
            {% if item.url %}
                {% set width = {'width':700} %}
                <a class="ra-docs-section__item-link use-ajax" href="{{ item.url }}" data-dialog-type="modal" data-dialog-options="{{ width|json_encode }}">{{ item.title }}</a>
            {% else %}
                {{ item.title }}
            {% endif %}
        </div>

        <div class="ra-docs-section__item-description">
            {{ item.description }}
        </div>

    </div>
    {% endfor %}

</div>